.first h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 10px;


}

.first p{ 
    font-family: cursive;
text-align: justify;
margin: 100px 100px 100px 100px;
}

.personal{
    text-align: center;
}

.personal img{
    margin-top: 2%;
    border-radius: 20%;
}

.personal h1 {
    font-weight: bolder;
}

.personal h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
